*{
    margin: 0;
    padding: 0;
}
#header-img{
    width: 400px;
    padding-left: 30px;
    padding-top: 30px;
}
#nav-bar{
    float: right;
    width: 400px;
    height: 50px;
    display: inline;
    

}
#nav-link, li{
   

    display: inline-block;
    list-style: none;
}
#nav-link, a{
    padding: 30px;
    display: inline-block;
    text-decoration: none;
    
}

#belowHeader{
  align-content: center;
  text-align: center;
  padding: 100px;
}
#features-text{
    float: right;
    margin-right: 200px;
    padding-top: 30px;
}


#imagess, img{
    height: 100px;
    width: 100px;
    margin-left: 100px;
    
}
